@model BrandViewModel

<div class="mb-4">
    <fieldset class="border p-3">
        <legend class="w-auto">Brand Details</legend>
        <div class="form-group">
            <label asp-for="Name" class="col-form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </fieldset>
</div>
<div class="mb-4">
    <fieldset class="border p-3">
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="CreatedOn" class="col-form-label"></label>
                <input asp-for="CreatedOn" class="form-control" readonly/>
            </div>
            <div class="form-group col-6">
                <label asp-for="LastModifiedOn" class="col-form-label"></label>
                <input asp-for="LastModifiedOn" class="form-control" readonly />
            </div>
        </div>
    </fieldset>
</div>