@model ProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Products</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index">Products</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <input asp-for="PictureUrl" hidden />
                <partial name="Partials/CreateEditPartialView" model="Model" />
                <br />
                <input type="submit" value="Edit" class="btn btn-success" />
                <a class="btn btn-secondary m-2" asp-action="Index">Back to Index</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}