<td>
    <a class="btn text-warning" asp-action="Edit" asp-route-id="@Model"><i class="fas fa-pen"></i> </a>
    <a class="btn text-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal-@Model">
        <i class="fas fa-trash"></i>
    </a>
</td>